<!doctype html>
<html lang="it">

<head>
	<title>STENDIQUIZ</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	{% include "commons/import_comuni.html" %}
	{% load static %}
	<link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
	<link rel="stylesheet" href="{% static 'css/header.css' %}">
	<script src="{% static 'js/sidebar.js' %}"></script>
	<script src="{% static 'js/utilities.js' %}"></script>
	<script src="{% static 'js/modal_crea_quiz.js' %}"></script>
	<script src="{% static 'js/index.js' %}"></script>
</head>

<body onLoad="includiFile(); caricaQuiz();">
	<!--Message Box-->
	<div data-include="message_box"></div>
	<!--Alert Logout-->
	<div data-include="alert_logout"></div>
	<!--Alert Success-->
	<div id="alertSuccess" class="alert alert-success alert-dismissible fade show fixed-top d-none" role="alert"></div>
	<!--Header-->
	<header id="header" class="p-4" data-include="header"></header>
	<div class="wrapper d-flex align-items-stretch">
		<!--Sidebar-->
		<nav id="sidebar" data-include="sidebar"></nav>
		<!--Modale Crea Quiz-->
		{% include "commons/modale_creaquiz.html" %}
		<!-- Page Content  -->
		<div id="content" class="p-4 p-md-5 pt-5 d-flex flex-row justify-content-center align-items-center">
			<div class="container-fluid">
				<!--Breadcrumb-->
				{% include "commons/breadcrumb.html" %}
				<table id="tabellaQuiz" class="table table-hover table-striped">
					<thead>
						<tr>
							{% for cella in risultati.listaIntestazioni %}
							<th {% for chiave , valore in cella.impostazioni.items %} {{chiave}}='{{valore}}'
								{%endfor%}>
								{{cella.valore}}
							</th>
							{% endfor %}
						</tr>
					</thead>
					<tbody>
						{%for riga in risultati.risultato %}
						<tr>
							{% for cella in riga %}
							<td {% for chiave , valore in cella.impostazioni.items %} {{chiave}}='{{valore}}'
								{%endfor%}>
								{{cella.valore}}
							</td>
							{% endfor %}
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<!--Footer-->
	<div data-include="footer"></div>
</body>

</html>