<!doctype html>
<html lang="it">

<head>
	<title>STENDIQUIZ</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	{% include "commons/import_comuni.html" %}
	{% load static %}
	<script src="{% static 'js/index.js' %}"></script>
</head>

<body onLoad="includiFile(); caricaQuiz();">
	<!--Message Box-->
	<div data-include="message_box"></div>
	<!--Alert Logout-->
	<div data-include="alert_logout"></div>
	<div class="wrapper d-flex align-items-stretch">
		<!--Sidebar-->
		<nav id="sidebar" data-include="sidebar"></nav>
		<!--Modale creazione-->
		{% include 'modale_creaquiz.html' %}
		<!-- Page Content  -->
		<div id="content" class="p-4 p-md-5 pt-5 d-flex flex-row justify-content-center align-items-center">
			<div class="container-fluid">
				<!--Breadcrumb-->
				{% include "commons/breadcrumb.html" %}
				<table id="tabellaQuiz" class="table table-hover table-striped">
					<thead>
						<tr>
							{% for cella in risultati.listaIntestazioni %}
							<th {% for chiave , valore in cella.impostazioni.items %} {{chiave}}='{{valore}}'
								{%endfor%}>
								{{cella.valore}}
							</th>
							{% endfor %}
						</tr>
					</thead>
					<tbody>
						{%for riga in risultati.risultato %}
						<tr>
							{% for cella in riga %}
							<td {% for chiave , valore in cella.impostazioni.items %} {{chiave}}='{{valore}}'
								{%endfor%}>
								{{cella.valore}}
							</td>
							{% endfor %}
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<!--Footer-->
	<div data-include="footer"></div>
</body>

</html>