<!doctype html>
<html lang="it">

<head>
    <title>STENDIQUIZ</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% include "commons/import_comuni.html" %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/errore.css' %}" />
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
    <script src="{% static 'js/sidebar.js' %}"></script>
    <script src="{% static 'js/utilities.js' %}"></script>
    <script src="{% static 'js/modal_crea_quiz.js' %}"></script>
</head>

<body onLoad="includiFile();">
    <!--Alert Logout-->
    <div data-include="alert_logout"></div>
    <!--Alert Partecipazione-->
    <div id="alertSuccess" class="alert alert-success fade show fixed-top d-none" role="alert"></div>
    <div class="wrapper d-flex align-items-stretch">
        <!--Modale Crea Quiz-->
        {% include "commons/modale_creaquiz.html" %}
        <!--Sidebar-->
        <nav id="sidebar" data-include="sidebar"></nav>
        <!-- Page Content  -->
        <div id="content" class="p-4 p-md-5 pt-5 d-flex flex-row justify-content-center align-items-center">
            <div class="container-fluid">
                <!--Breadcrumb-->
                {% include "commons/breadcrumb.html" %}
                <div class="row justify-content-center">
                    <div class="col-lg-10 col-xl-8">
                        <input type="hidden" id="quizCodice" value="{{codiceQuiz}}" />
                        <h2 class="text-center mt-4 mb-5">{{titolo}}</h2>
                        {% if domande|length == 0 %}
                        <div class="wrapper d-flex align-items-stretch">
                            <div id="content"
                                class="p-4 p-md-5 pt-5 d-flex flex-row justify-content-center align-items-center">
                                <div class="error-container">
                                    <h1 class="error-title">Quiz in preparazione</h1>
                                    <p class="error-description">
                                        Sembra che il quiz sia ancora in fase di scrittura. Riprova più tardi
                                    </p>
                                    <div class="mb-4">
                                        <button class="btn btn-secondary btn errore">
                                            Torna Indietro
                                        </button>
                                        <a href="/" class="btn btn-primary">
                                            Torna alla Home
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% else %}
                        <div class="container-fluid mb-5">
                            <div class="row shadow-sm text-center">

                                <div class="col-md p-3 border">
                                    <i class="fa-solid fa-calendar d-block mb-2 icona-risposta"></i>
                                    <strong class="d-block titolo-info">Data Partecipazione</strong>
                                    <div>{{dataPartecipazione}}</div>
                                </div>

                                <div class="col-md p-3 border">
                                    <i class="fa-solid fa-hashtag d-block mb-2 icona-risposta"></i>
                                    <strong class="d-block titolo-info">Numero Domande</strong>
                                    <div>{{numeroDomande}}</div>
                                </div>

                                <div class="col-md p-3 border">
                                    <i class="fa-solid fa-graduation-cap d-block mb-2 icona-risposta"></i>
                                    <strong class="d-block titolo-info">Esito</strong>
                                    <div>
                                        {% if percentuale >= 60 %}
                                        <span class="badge badge-success">Superato</span>
                                        {% else %}
                                        <span class="badge badge-danger">Non Superato</span>
                                        {% endif %}
                                    </div>
                                </div>

                                <div class="col-md p-3 border">
                                    <i class="fa-solid fa-star d-block mb-2 icona-risposta"></i>
                                    <strong class="d-block titolo-info">Punteggio</strong>
                                    <span
                                        class="badge badge-primary badge-punteggio">{{punteggioOttenuto}}/{{punteggioMassimo}}</span>
                                </div>

                            </div>
                        </div>
                        {% for domanda in domande %}
                        <form class="formGioca" numeroDomanda="{{forloop.counter}}">
                            <div class="card mb-4 shadow-sm form-group domanda-card">
                                <div class="card-header d-flex justify-content-between align-items-center">
                                    <h6 class="my-0 font-weight-bold domanda-quiz">
                                        Domanda {{forloop.counter}}</h6>
                                    {% if domanda.domandacorretta %}
                                    <span class="badge badge-success badge-pill">
                                        {{ domanda.punteggio }}/{{ domanda.punteggio }} pt.
                                    </span>
                                    {% else %}
                                    <span class="badge badge-danger badge-pill">
                                        0/{{ domanda.punteggio }} pt.
                                    </span>
                                    {% endif %}
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title mb-4">{{ domanda.testo }}</h5>

                                    <div class="list-group list-group-flush">
                                        {% for risposta in domanda.risposte %}
                                        <label
                                            class="list-group-item list-group-item-action m-0 {%if risposta.corretta %} risposta-corretta  {% elif risposta.rispostautente == risposta.numero %} risposta-sbagliata {% endif %}">
                                            <input class="form-check-input form-check-input-custom"
                                                name="domanda{{domanda.numero}}" type="radio"
                                                numeroRisposta="{{risposta.numero}}" disabled {% if risposta.rispostautente == risposta.numero %} checked {% endif %}>
                                            {{ risposta.testo }}
                                        </label>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </form>
                        {% endfor %}
                        {%endif%}
                    </div>

                </div>

            </div>
        </div>
    </div>
    </div>
    <!--Footer-->
    <div data-include="footer"></div>
</body>

</html>