#sidebar {
  min-width: 270px;
  max-width: 270px;
  background: #993366;
  color: #fff;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
}

#sidebar h2 {
  margin-bottom: 20px;
  font-weight: 700;
  text-align: center;
}

#sidebar h2 .logo {
  color: #fff;
}

#sidebar ul.components {
  padding: 0;
}

#sidebar ul li {
  font-size: 16px;
}

#sidebar ul li>ul {
  margin-left: 10px;
}

#sidebar ul li>ul li {
  font-size: 14px;
}

#sidebar ul li a,
#sidebar h3 {
  padding: 10px 0;
  display: block;
}

#sidebar ul li a,
.logout {
  padding: 10px 0;
  display: block;
  color: rgba(255, 255, 255, 0.6);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.logout {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  color: #fff;
  text-align: left;
  font-size: 16px;
  cursor: pointer;
}

#sidebar ul li a:hover,
#sidebar h3,
.logout:hover {
  color: #fff;
}

#sidebar ul li.active>a {
  background: transparent;
  color: #fff;
}

@media (max-width: 991.98px) {
  #sidebar {
    margin-left: -270px;
  }
}

#content {
  width: 100%;
  padding: 0;
  min-height: 100vh;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.bg-wrap .user-logo .img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 10px;
}

.bg-wrap .user-logo h3 {
  color: #fff;
  font-size: 18px;
}

.img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  page-break-inside: avoid;
  vertical-align: middle;
  border-style: none;
}