/*Posiziona alet logout all'inizio della pagina*/
.top-page {
    margin-bottom: 0px;
}

table thead,
.btn.btn-secondary {
    background-color: #8B5FBF;
    border-color: #8B5FBF;
    color: #fff;
}

.btn.btn-primary {
    background-color: #993366;
    border-color: #993366;
}

.btn:disabled {
    cursor: not-allowed
}

.page-item.active .page-link {
    background-color: #8B5FBF;
    border-color: #8B5FBF;
    color: #fff;
}

.page-link:hover,
.page-link {
    color: #8B5FBF;
}

.badge.badge-pill {
    min-width: 78px;
}

.custom-breadcrumb {
    background-color: #ececec;
}

.breadcrumb a {
    color: #212529 !important;
    text-decoration: none;
}

#tabellaQuiz td {
    cursor: pointer;
}

a,
a:hover,
a:focus {
    text-decoration: none;
}

.alert.alert-success {
    z-index: 10000;
}

svg path,
svg rect {
    fill: #fff;
}

.contenitore-loader {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
}

.contenitore-loader .loader svg {
    height: 1.5rem;
}

h2 {
    font-weight: 700;
    text-align: center;
    color: #993366;
}

.domanda-quiz {
    color: #993366;
}

#domandeContainer {
    max-height: 365px;
    overflow-y: scroll;
}

.badge.badge-primary.badge-pill {
    background-color: #993366;
}

.is-invalid {
    border: 1px solid #dc3545 !important;
    background-color: #fff0f0;
}

.rimuoviRispostaBtn,
.rimuoviRispostaBtn:hover,
.rimuoviRispostaBtn:focus {
    background-color: #fff;
    border: none !important;
    color: #212529;
}