{% load static %}

<link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
<link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}">
<link rel="stylesheet" href="{% static 'datatables/datatables.min.css' %}">
<link rel="stylesheet" href="{% static 'bootstrap/style.css' %}">
<link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
<link rel="stylesheet" href="{% static 'css/stili_generali.css' %}">
<link rel="stylesheet" href="{% static 'fonts/fonts.css' %}">
<link rel="stylesheet" href="{%static 'jqueryui/jquery-ui.min.css' %}">

<script src="{% static 'jquery/jquery.min.js' %}"></script>
<script src="{% static 'bootstrap/popper.min.js' %}"></script>
<script src="{% static 'bootstrap/bootstrap.min.js' %}"></script>
<script src="{% static 'datatables/datatables.js' %}"></script>
<script src="{% static 'datatables/moment.min.js' %}"></script>
<script src="{% static 'jqueryui/jquery-ui.min.js' %}"></script>
<script src="{% static 'jqueryui/datepicker-it.js' %}"></script>
<script src="{% static 'js/sidebar.js' %}"></script>
<script src="{% static 'js/utilities.js' %}"></script>
<script src="{% static 'js/quiz_modal.js' %}"></script>