<div class="modal fade" id="quizModal" tabindex="-1" aria-labelledby="quizModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <form id="quizForm" novalidate>
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        <div class="modal-header">
          <h5 class="modal-title" id="quizModalLabel">Crea Quiz</h5>
          <button type="button" data-dismiss="modal" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group mb-3">
            <label for="titolo" class="form-label">Titolo</label>
            <input type="text" class="form-control" id="titolo" name="titolo" placeholder="Inserisci il titolo del quiz"
              required>
            <small id="charCountertitolo" class="form-text text-muted"></small>
            <div id="invalidFeedbacktitolo" class="invalid-feedback"></div>
          </div>

          <div class="row mb-3">
            <div class="form-group col-md-6">
              <label for="data_inizio" class="form-label">Data Apertura</label>
              <input type="text" class="form-control" id="data_inizio" name="data_inizio" required>
              <div id="invalidFeedbackdata_inizio" class="invalid-feedback"></div>
            </div>
            <div class="form-group col-md-6">
              <label for="data_fine" class="form-label">Data Chiusura</label>
              <input type="text" class="form-control" id="data_fine" name="data_fine" required>
              <div id="invalidFeedbackdata_fine" class="invalid-feedback"></div>
            </div>
          </div>

          <hr>
          <h5>Domande &amp; Risposte</h5>
          <div id="domandeContainer"></div>
          <div id="erroreDomande" class="alert alert-danger d-none" role="alert"></div>
          <button type="button" class="btn btn-outline-primary" id="aggiungiDomandaBtn">
            <i class="fa-solid fa-plus"></i> Aggiungi Domanda
          </button>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" id="resetFormBtn">Reset</button>
          <button id="btnSalva" type="submit" class="btn btn-primary">Salva</button>
        </div>
      </form>
    </div>
  </div>
</div>