<div class="modal fade" id="yesNoMessage" tabindex="-1" role="dialog" aria-labelledby="unauthorizedModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    <span id="yesNoMessageTitle"></span>
                </h5>
            </div>
            <div class="modal-body">
                <h6 class="mb-3" id="yesNoMessageMessage"></h6>
            </div>
            <div class="modal-footer">
                <button id="primaryButton" type="button" class="btn contenitore-loader">
                    <div class="loader loader--style8 mr-2 d-none" data-include = "loader"></div>
                    <span class="sr-only">Elaborazione...</span>
                </button>
                <button id="secondaryButton" type="button" class="btn btn-light" data-dismiss="modal">Annulla</button>
                <input id="quizCodice" type="hidden" value="" />
            </div>
        </div>
    </div>
</div>